
.bg-hero-image{
    background-image: url('neutralPaintingBg.jpg');
    background-position: center center;
}

.nav {
    height: 3rem;
    width: 3rem;
}

.portrait {
    height:20rem;
    
}

body {
    background-color:rgb(206, 194, 178);
    font-family: 'Playfair Display', serif;

}

h1{
    margin-top: 40px;
}

h3{
    margin-top: 20px;
    margin-bottom: 0px;
}